body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: 125px auto 100px;
    /* Updated margins */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Oswald', serif;
    color:  #2c0265;
}

h2 {
    text-align: center;
    /* Center-align Product Details h2 */
}

label {
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:invalid,
select:invalid {
    border-color: red;
    /* Red border for invalid inputs */
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
    visibility: hidden;
    /* Display error message below input */
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
}