<div class="grid-container" style="margin-bottom: 8rem;margin-top: 8rem;">
  <div class="grid-x align-center">
    <div class="cell small-12 medium-10 large-8">

      <!-- Naslov -->
      <div class="text-center margin-bottom-2">
        <h1>Customer Shipping Address</h1>
        <p>
          Here is the address of 
          <strong id="customerName"
            [innerHTML]="getUserById(getCustomer().userId).firstName + ' ' + getUserById(getCustomer().userId).lastName">
          </strong>
        </p>
      </div>

      <!-- Tabela adrese -->
      <table class="hover stack shadow-card">
        <thead>
          <tr>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Post Code</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="address" [innerHTML]="getAddress(getCustomer().shippingAddressId).address"></td>
            <td id="city" [innerHTML]="getAddress(getCustomer().shippingAddressId).city"></td>
            <td id="state" [innerHTML]="getAddress(getCustomer().shippingAddressId).state"></td>
            <td id="postcode" [innerHTML]="getAddress(getCustomer().shippingAddressId).postcode"></td>
            <td id="country" [innerHTML]="getAddress(getCustomer().shippingAddressId).country"></td>
          </tr>
        </tbody>
      </table>

      <!-- Dugmići -->
      <div class="grid-x grid-margin-x margin-top-3 align-center">
        <div class="cell small-12 medium-shrink">
          <button type="button" class="button secondary expanded" (click)="goBack()">Back</button>
        </div>

        <div class="cell small-12 medium-shrink">
          <ng-container *ngIf="getUserById(getCustomer().userId); let user">
            <ng-container *ngIf="user.enabled === 1; then isEnabledContent else suspendedContent"></ng-container>

            <ng-template #isEnabledContent>
              <button type="button" class="button warning expanded" (click)="suspendCustomer(getCustomer().customerId)">
                Suspend Customer
              </button>
            </ng-template>

            <ng-template #suspendedContent>
              <button type="button" class="button success expanded" (click)="reactivateCustomer(getCustomer().customerId)">
                Reactivate Customer
              </button>
            </ng-template>
          </ng-container>
        </div>

        <div class="cell small-12 medium-shrink">
          <button type="button" class="button alert expanded" (click)="deleteCustomer(getCustomer().customerId)">
            Remove Customer
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

