<div class="grid-container" style="margin-bottom: 8rem;margin-top: 8rem;">
    <section>
      <div class="grid-x align-center">
        <div class="cell small-12 medium-10 large-8">
  
          <!-- Callout kartica -->
          <div class="callout alert radius text-center">
            <h1>Checkout Cancelled</h1>
            <h4>Your checkout process is cancelled! You may continue shopping.</h4>
          </div>
  
        </div>
      </div>
    </section>
  
    <!-- Dugme -->
    <div class="grid-x align-center margin-top-3">
      <div class="cell small-12 medium-shrink text-center">
        <a class="button large primary" routerLink="/products">Go to Products Page</a>
      </div>
    </div>
  </div>
  
