<div class="grid-container" style="margin-bottom: 8rem;margin-top: 8rem;">
    <div class="grid-x align-center">
      <div class="cell small-12 medium-10 large-8">
  
        <!-- Naslov -->
        <h1 class="text-center">🧾 Receipt</h1>
        <hr>
  
        <!-- Shipping Address -->
        <div class="callout secondary radius shadow-card margin-bottom-2">
          <h4>Shipping Address</h4>
          <p>
            <span [innerHTML]="getAddress().address"></span><br>
            <span [innerHTML]="getAddress().city"></span>, 
            <span [innerHTML]="getAddress().state"></span><br>
            <span [innerHTML]="getAddress().country"></span>, 
            <span [innerHTML]="getAddress().postcode"></span>
          </p>
        </div>
  
        <!-- Order Details -->
        <table class="hover stack shadow-card">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Discount</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-tempItem [ngForOf]="getAllItems()">
              <tr>
                <td [innerHTML]="getProduct(tempItem.productId).productName"></td>
                <td [innerHTML]="tempItem.quantity"></td>
                <td [innerHTML]="'€' + getProduct(tempItem.productId).productPrice"></td>
                <td [innerHTML]="getProduct(tempItem.productId).discount + '%'"></td>
                <td [innerHTML]="'€' + tempItem.price"></td>
              </tr>
            </ng-template>
          </tbody>
        </table>
  
        <!-- Grand Total -->
        <div class="text-center margin-top-3">
          <h3>Grand Total Price: 
            <span [innerHTML]="'€ ' + getCart().cartPrice?.toFixed(2)"></span>
          </h3>
        </div>
  
        <!-- Dugmići -->
        <div class="grid-x grid-margin-x margin-top-3 align-center">
          <div class="cell small-12 medium-shrink">
            <button type="button" class="button secondary expanded" (click)="redirectPhoneConfirmation()">Back</button>
          </div>
          <div class="cell small-12 medium-shrink">
            <button type="button" class="button alert expanded" routerLink="/order/cancelled">Cancel</button>
          </div>
          <div class="cell small-12 medium-shrink">
            <button type="button" class="button success expanded" (click)="placeOrder()">Continue</button>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  