<div class="grid-container" style="margin-bottom: 8rem;margin-top: 8rem;">
    <div class="grid-x align-center">
      <div class="cell small-12 medium-10 large-8">
  
        <!-- Naslov -->
        <h3 class="text-center">Shipping Address Confirmation</h3>
  
        <!-- Forma -->
        <form method="POST" id="shippingAddressForm" class="grid-x grid-margin-x grid-margin-y">
  
          <!-- Hidden input za shippingAddressId -->
          <input type="hidden" id="shippingAddressId" name="shippingAddressId">
  
          <!-- Address -->
          <div class="cell small-12">
            <label for="address">Address
              <input type="text" id="address" name="address" placeholder="Enter Address"
                     [value]="getCurrentAddress().address">
            </label>
            <small id="addressError" class="form-error"></small>
          </div>
  
          <!-- City -->
          <div class="cell small-12 medium-6">
            <label for="city">City
              <input type="text" id="city" name="city" placeholder="Enter City"
                     [value]="getCurrentAddress().city">
            </label>
            <small id="cityError" class="form-error"></small>
          </div>
  
          <!-- State -->
          <div class="cell small-12 medium-6">
            <label for="state">State
              <input type="text" id="state" name="state" placeholder="Enter State"
                     [value]="getCurrentAddress().state">
            </label>
            <small id="stateError" class="form-error"></small>
          </div>
  
          <!-- Postcode -->
          <div class="cell small-12 medium-6">
            <label for="postcode">Post Code
              <input type="text" id="postcode" name="postcode" placeholder="Enter Post Code"
                     [value]="getCurrentAddress().postcode">
            </label>
            <small id="postcodeError" class="form-error"></small>
          </div>
  
          <!-- Country -->
          <div class="cell small-12 medium-6">
            <label for="country">Country
              <input type="text" id="country" name="country" placeholder="Enter Country"
                     [value]="getCurrentAddress().country">
            </label>
            <small id="countryError" class="form-error"></small>
          </div>
  
          <div class="cell small-12 text-center margin-top-3">
            <button type="button" class="button secondary margin-right-1" (click)="redirectCart()">Back</button>
            <button type="button" class="button alert margin-right-1" routerLink="/order/cancelled">Cancel</button>
            <button type="submit" class="button success">Continue</button>
          </div>
          
  
        </form>
      </div>
    </div>
  </div>
  
