<p>category-update-form works!</p>
<div class="grid-container category-form-wrapper">
    <div class="grid-x grid-padding-x align-center">
      <div class="cell medium-8 large-6">
        <div class="callout shadowed-form">
          <h1 class="form-title text-center">Category Update Form</h1>
          <form id="categoryForm">
            <label for="categoryName">Category Name
              <input type="text" id="categoryName" name="categoryName" placeholder="Enter category name" [value]="getCategory().name">
            </label>
            <span id="categoryNameError" class="form-error error-message" ></span>
            
            <button type="submit" class="button expanded primary">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  