<div class="grid-container" style="margin-top: 8rem; margin-bottom: 8rem;">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell small-12 medium-10 large-6">
        <div class="callout primary">
          <h2 class="text-center margin-bottom-2">Product Update Form</h2>
  
          <form id="productForm">
            <div class="grid-x grid-margin-x">
              <div class="cell small-12">
                <label>Product Name
                  <input type="text" id="product-name" name="product-name" placeholder="Enter product name" [value]="getCurrentProduct().productName">
                </label>
                <span class="form-error" id="nameError"></span>
              </div>
  
              <div class="cell small-12">
                <label>Product Description
                  <input type="text" id="product-description" name="product-description" placeholder="Enter short description" [value]="getCurrentProduct().productDescription">
                </label>
                <span class="form-error" id="descriptionError"></span>
              </div>
  
              <div class="cell small-12 medium-6">
                <label>Product Brand
                  <input type="text" id="product-brand" name="product-brand" placeholder="Enter product brand" [value]="getCurrentProduct().productBrand">
                </label>
                <span class="form-error" id="brandError"></span>
              </div>
  
              <div class="cell small-12 medium-6">
                <label>Product Model
                  <input type="text" id="product-model" name="product-model" placeholder="Enter product model" [value]="getCurrentProduct().productModel">
                </label>
                <span class="form-error" id="modelError"></span>
              </div>
  
              <div class="cell small-12 medium-4">
                <label>Product Price
                  <input type="text" id="product-price" name="product-price" placeholder="0" (keydown)="validateNumber($event)" [value]="getCurrentProduct().productPrice">
                </label>
                <span class="form-error" id="priceError"></span>
              </div>
  
              <div class="cell small-12 medium-4">
                <label>Unit Stock
                  <input type="text" id="unit-stock" name="unit-stock" placeholder="0" (keydown)="validateNumber($event)" [value]="getCurrentProduct().unitStock">
                </label>
                <span class="form-error" id="stockError"></span>
              </div>
  
              <div class="cell small-12 medium-4">
                <label>Discount (%)
                  <input type="text" id="discount" name="discount" placeholder="0" (keydown)="validateNumber($event)" [value]="getCurrentProduct().discount">
                </label>
                <span class="form-error" id="discountError"></span>
              </div>
  
              <div class="cell small-12">
                <label>Category
                  <select id="categoryId" name="categoryId">
                    <option value="" disabled selected>Select a category</option>
                    <ng-template ngFor let-category [ngForOf]="getAllCategories()">
                      <option [value]="category.productCategoryId" [innerHTML]="category.name" [selected]="category.productCategoryId === getCurrentProduct().productCategoryId"></option>
                    </ng-template>
                  </select>
                </label>
                <span class="form-error" id="categoryIdError"></span>
              </div>
  
              <div class="cell small-12 text-center margin-top-2">
                <button type="submit" class="button large expanded">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
