<div class="container">
    <div class="page-header">
        <h1 [innerHTML]="'Order List'"></h1>
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-tempOrder [ngForOf]="getPaginatedOrders()">
                <ng-template ngFor let-tempCustomer [ngForOf]="getAllCustomers()">
                    <ng-container *ngIf="tempOrder.cartId === tempCustomer.cartId">
                        <tr>
                            <td [innerHTML]="tempOrder.orderId"></td>
                            <td [innerHTML]="getUserById(tempCustomer.userId).firstName"></td>
                            <td [innerHTML]="getUserById(tempCustomer.userId).lastName"></td>
                            <td [innerHTML]="getUserById(tempCustomer.userId).email"></td>
                            <td>
                                <button class="btn btn-info" [innerHTML]="'Details'"
                                    [routerLink]="[`/order/orderDetails/`, tempOrder.orderId]"></button>
                            </td>
                        </tr>
                    </ng-container>
                </ng-template>
            </ng-template>
            <!-- Dynamic rows will be inserted here -->
        </tbody>
    </table>

    <div class="pagination" *ngIf="getAllOrders().length > 0">
        <button (click)="prevPage()" [disabled]="getCurrentPage() == 1">Previous</button>
        <span>Page {{ getCurrentPage() }} / {{ getTotalPages() }}</span>
        <button (click)="nextPage()" [disabled]="getCurrentPage() == getTotalPages()">Next</button>
    </div>
</div>