h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #2c3e50;
  }
  
  h5 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
  }
  
  .callout {
    background-color: #f8f8f8;
  }
  
  button {
    min-width: 150px;
  }
  