<div class="grid-container" style="margin-bottom: 8rem;margin-top: 8rem;">
    <div class="grid-x align-center">
      <div class="cell small-12 medium-8 large-6">
  
        <!-- Naslov -->
        <h2 class="text-center">Image Form</h2>
  
        <!-- Product Name -->
        <div class="callout secondary radius text-center margin-bottom-2">
          <h5 [innerHTML]="getCurrentProduct().productName"></h5>
        </div>
  
        <!-- Forma -->
        <form class="grid-x grid-margin-x grid-margin-y">
  
          <!-- File input -->
          <div class="cell small-12">
            <label for="productImage">Product Image
              <input type="file" id="productImage" name="productImage" #imageInput (change)="onFileSelected()">
            </label>
          </div>
  
          <!-- Dugme -->
          <div class="cell small-12 text-center margin-top-2">
            <button type="submit" class="button success large" 
                    [innerHTML]="'Upload'" 
                    [disabled]="!getisFileSelected()">
            </button>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  
