<div class="grid-container" style="margin-bottom: 8rem;margin-top: 8rem;">
    <div class="grid-x align-center">
      <div class="cell small-12">
  
        <!-- Naslov -->
        <h1 class="text-center cart-title">🛒 List of Products Purchased</h1>
  
        <!-- Tabela -->
        <table class="hover stack shadow-card">
          <thead>
            <tr>
              <th>Product Id</th>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-tempItem [ngForOf]="getAllItems()">
              <tr>
                <td [innerHTML]="tempItem.cartItemId"></td>
                <td [innerHTML]="getProductName(tempItem.productId)"></td>
                <td [innerHTML]="tempItem.quantity"></td>
                <td [innerHTML]="'€' + tempItem.price?.toFixed(2)"></td>
                <td>
                  <button type="button" class="button alert tiny" 
                          (click)="removeItem(tempItem.cartItemId)">
                    Remove
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
  
        <!-- Dugmići -->
        <div class="grid-x grid-margin-x margin-top-3 align-center">
          <div class="cell small-12 medium-shrink">
            <button type="button" class="button warning expanded" (click)="clearCart()">Clear Cart</button>
          </div>
          <div class="cell small-12 medium-shrink">
            <button type="button" class="button success expanded" (click)="redirectCheckout()">Check Out</button>
          </div>
        </div>
  
        <!-- Total -->
        <p class="text-center cart-total margin-top-2" 
           [innerHTML]="'Cart Price: €' + getCart().cartPrice"></p>
  
      </div>
    </div>
  </div>
  
