* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 125px; /* Adjusted margin-top */
    margin-bottom: 100px;
    font-family: 'Oswald', serif;
}

h1 {
    color: #333366;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333366;
    color: white;
}

tr:nth-child(even) {
    background-color: #e6e6ff;
}

button {
    background-color: #ff6666;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 10px; /* Added margin-top for spacing */
}

button:hover {
    background-color: #ff3333;
    transform: scale(1.1);
}

.total {
    font-weight: bold;
    font-size: 20px;
    color: #333366;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
        margin-top: 60px; /* Adjusted for smaller screens */
    }

    button {
        width: 100%; /* Full width buttons on smaller screens */
        margin-top: 15px; /* Increased spacing on smaller screens */
    }
}