<div class="grid-container" style="margin-bottom: 8rem; margin-top: 8rem;">
    <div class="grid-x align-center">
      <div class="cell small-12 medium-10 large-8">
  
        <!-- Callout kartica -->
        <div class="callout alert radius shadow-card text-center">
  
          <h1 class="registration-title">Registration failed!</h1>
          <p class="lead">
            The email you entered already exists.<br>
            Please try again with a different email or login with your existing account.
          </p>
  
          <hr>
  
          <div class="grid-x grid-margin-x grid-margin-y align-center margin-top-2">
            <div class="cell small-12 medium-shrink">
              <a class="button large warning expanded" routerLink="/register">Retry</a>
            </div>
            <div class="cell small-12 medium-shrink">
              <a class="button large secondary expanded" routerLink="/home">Home</a>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  </div>
  
