.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #04070C;
  color: #d9d9d9;
  font-family: 'Oswald', sans-serif;
  z-index: 99;

  display: flex;
  justify-content: center;   /* horizontalno centriranje */
  align-items: center;       /* vertikalno centriranje */
  text-align: center;
}
